@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br /><br /><br /><br />
<h2>Index</h2>
<a class="page-scroll" href="@Url.Action("Create", "ImagesTable")">create images from here</a>
<br /><br />
<a class="page-scroll" href="@Url.Action("Index", "ImagesTable")">review and delete and edit images from here</a>
<br /><br /><br /><br />
<a class="page-scroll" href="@Url.Action("Create", "SectionContent")">create section content from here</a>
<br /><br />
<a class="page-scroll" href="@Url.Action("Index", "SectionContent")">review and delete and edit section content from here</a>
<br /><br /><br /><br />
<a class="page-scroll" href="@Url.Action("Create", "Sections")">create sections from here</a>
<br /><br />
<a class="page-scroll" href="@Url.Action("Index", "Sections")">review and delete and edit sections from here</a>
<br /><br /><br /><br />


 <h1>Analytics Test Page</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
<div id="footer">
    &copy; 2016 MySite
</div>
 