@model Tamplate_1.Models.RegisterModel
@{
    ViewBag.Title = "RegisterAdmin";
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
    }
<br /><br /><br />
<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>regester new admin</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>   @Html.ActionLink("back home", "Index", "Sections")</h2>
                </div>
            </div>
            <div class="row  text-center" style="background-color:white;">
                <div class="form-group">
                    <div class="col-lg-12">
                        <fieldset>
                            <br /><br />

                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                            <br />
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            <br />
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword" })
                            <br />
                            <input type="submit" value="RegisterAdmin" />
                            <br /><br />
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
